@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost/jost-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost/jost-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost/jost-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost/jost-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost/jost-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "../styles-plugin/tailwind-bootstrap-grid";

@custom-variant dark (&:where(.dark, .dark *));

@import "./safe.css";
@import "./utilities.css";

@layer base {
  @import "./base.css";
}

@layer components {
  @import "./button.css";
  @import './components.css';
}

@theme {
  --color-dark: #18181A;
  --color-light: #cccccc;
  --color-white: #ffffff;
  --color-black: #000000;

  --font-primary: "Outfit", "sans-serif";
  --font-secondary: "Jost", "sans-serif";
  /* Test alternatives:
     --font-secondary: "Montserrat", "sans-serif";
     --font-secondary: "Playfair Display", "serif";
  */
}
